.navbar-food
{
    size: 2px;
}

.background-color-navbar-1
{
    background-color: rgb(255, 214, 186);
}

.background-color-navbar-2
{
    background-color: rgb(250, 249, 249);
}

.lyric
{
    color: rgb(85, 91, 110);
}

.button-navbar
{
  
     color: rgb(85, 91, 110);
    background-color: rgb(255, 214, 186); 
}

.weidth-navbar
{

    


}