<section class="py-2 pb-32 ">

  <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4 py-1 px-4">

    <!-- Card 1 -->
   <div 
  *ngFor="let dish of MenuDish"
  class="background-color-card flex items-center p-2  shadow-xl
  hover:border-black/20 transition-colors rounded-xl w-full relative ">


  <img 
    [src]="dish.image" 
    [alt]="dish.name"
    class="w-[118px] h-[118px] rounded-lg object-cover" 
  />

  

  <div class="ml-4">

     <!-- <div class="absolute top-2  right-2">

    <ng-icon  name="lucideCirclePlus" class="text-2xl  stroke-currrent" color="#89B0AE" strokeWidth="3"></ng-icon>
    

  </div> -->

 

    <h3 class="text-title  text-lg font-semibold text-zinc-900">
      {{ dish.name }}

    </h3>


    <p class="text-description text-base text-zinc-600">
      {{ dish.description }}
    </p>

    <p class="text-description text-lg text-zinc-900 mt-3">
      {{ dish.price }}
    </p>

    <div class="text-sm text-zinc-600 flex items-center gap-1.5">

     <!--  <ng-container *ngFor="let etiqueta of dish.etiquetas; let last = last">

        <span class="text-description">
          {{ etiqueta }}
        </span>

        <div 
          *ngIf="!last"
          class="size-1 rounded-full bg-[#777777]"
        ></div>

      </ng-container> -->

 
 <div class="absolute bottom-2  right-2 cursor-pointer" (click)="AddToCart(dish.idDish)">

    <ng-icon  name="lucideCirclePlus" class="text-3xl  stroke-currrent" strokeWidth="3" color="#89B0AE"></ng-icon>
    
    

  </div>


    </div>

    

  </div>

</div>

   

  </div>

</section>



